#include "colors/mmso3"

! rxvt settings
urxvt.termName: rxvt-unicode-256color
urxvt.saveLines: 16384
urxvt.scrollTtyKeypress: true
urxvt.scrollWithBuffer: false
urxvt.scrollTtyOutput: false
urxvt.scrollBar: false
urxvt.urgentOnBell: true
urxvt.perl-ext-common:  default,matcher
urxvt.matcher.button: 1
urxvt.urlLauncher: firefox

! terminal font
urxvt.font: 7x13
urxvt.boldFont: 7x13bold
urxvt.italicFont: 7x13
urxvt.boldItalicFont: 7x13bold

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
